$themeColor: #07c160;
$contentBgColor: #f5f5f5;
$headerBgColor: #ebebeb;
$panelBgColor: #ffffff;

body {
  background: #fff;
}
// 登录界面
body .login {
  min-width: unset;
  min-height: unset;

  .login_box {
    box-shadow: unset;
  }
}

// 容器
.main_inner {
  display: flex;

  &::after {
    content: "";
  }

  // 侧边菜单
  .header {
    width: 2.8rem;
    background-color: $headerBgColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;

    .avatar {
      padding: 0;
    }

    // 用户昵称
    .info {
      width: 100%;

      .nickname .display_name {
        display: none;
      }
    }

    .tab {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 1rem 0;

      &::after {
        display: none;
      }

      .tab_item {
        margin: 0.8rem 0;

        &::after {
          display: none;
        }

        a.chat {
          i.web_wechat_tab_friends,
          i.web_wechat_tab_chat {
            filter: invert(1);
          }
          i.web_wechat_tab_friends_hl,
          i.web_wechat_tab_chat_hl {
            filter: unset;
          }
        }
      }
    }
  }

  // 面板
  .panel {
    background-color: $panelBgColor;

    // 菜单
    #mmpop_system_menu {
      top: unset !important;
      left: -0.5rem !important;
      bottom: 1rem !important;

      .dropdown_menu {
        border: none;
      }
    }

    // 搜索栏
    #search_bar.search_bar {
      width: 100%;

      i.web_wechat_search {
        top: 1rem;
        left: 1rem;
        filter: invert(1);
      }

      .frm_search {
        margin: 1rem;
        background-color: $contentBgColor;
        color: #000;
      }

      .recommendation {
        width: 100%;
        height: calc(100vh - 4rem);
        background: $panelBgColor;
        top: 4rem;
        box-shadow: unset;

        .contacts {
          height: 100% !important;
          max-height: unset;
        }

        .contact_title,
        .contact_item {
          background: transparent;
          border: none;
          color: #000;

          .info .nickname {
            color: unset;
          }
        }
      }
    }

    // 聊天列表
    .nav_view {
      top: 4rem;

      .chat_list {
        .ico_loading {
          color: $themeColor;
        }

        .chat_item {
          background-color: transparent;
          border-bottom: none;

          &.active {
            background-color: $themeColor;

            .info .nickname {
              color: #fff;
            }
          }

          .info .nickname {
            color: #000;
          }

          .ext .attr {
            font-size: 0.5rem;
          }
        }
      }

      .contact_list {
        .contact_title {
          background-color: $panelBgColor;
          color: #000;
        }

        .contact_item {
          border: none;

          .info .nickname {
            color: #000;
          }
        }

        .active {
          background-color: $themeColor;

          .contact_item .info .nickname {
            color: #fff;
          }
        }
      }
    }
  }

  // 聊天室
  div[ui-view="contentView"] {
    flex-grow: 1;

    #chatArea {
      background-color: $contentBgColor;

      // 聊天室标题栏
      .box_hd .title_wrap {
        margin: 0;
        background-color: transparent;
      }

      // 上下线
      .box_hd .title_wrap,
      .box_ft {
        border: none;
      }

      .box_bd.chat_bd {
        border: 1px solid #e5e5e5;
        border-width: 1px 0;
      }

      .content {
        .bubble.bubble_primary {
          background-color: $themeColor;
          color: #fff;

          &:before,
          &.right:after {
            border-left-color: $themeColor;
          }
        }
      }

      .action {
        .btn_send {
          background-color: $themeColor;
          color: #fff;
          border: none;
        }
      }
    }
  }
}
